/*
The CSS code gets to executed from top to bottom and left ro right

Basic rules to write CSS
- write GENERAL rules first (for all the paragraph tags in the website for example) and only after that write CSS for SPECIFIC tags (for example the paragraph tags inside the footer)
- write the css styles to define for the parent (outside) container and THEN the children (inside containers) of that parent and THEN the children (inside containers) of the child above
*/


/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}


/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
  background-color: #eee;
  text-align: center;
  line-height: 1.5;
  height: auto;
  border: 3px solid white;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: cursive;
}

h2 {
    color: #0E4EB4;
}

input,
select,
button {
    border: 1px solid #0E4EB4;
    padding: 10px 25px;
    margin: 5px;
    border-radius: 15px;
    color: orange;
}

button {
    background-color: transparent;
    border: 2px solid #6D7296;
}

button:hover {
    background-color: #EFC43F;
    color: black;
}

button[type=submit] {
    background-color: transparent;
    border: 2px solid #C01C17;
}

button[type=submit]:hover {
    color: #C01C17;
}

label {
    display: block;
    margin: 10px;
}

/*
The clearfix Hack: If an element is taller than the element containing it, and it is floated, it will "overflow" outside of its container
https://www.w3schools.com/css/css_float_clear.asp
*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}




/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/
header {
  height: 700px;
  width: 100%;
  display: block;
  position: relative;
  padding-top: 20px;
  margin-top: 0;
  text-align: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

header h1 {
  color: white;
  margin-top: 10%;
  font-size: 214%;
}

header nav {
  position: fixed;
  display: block;
  width: 100%;
  top: 0;
  text-align: left;
}

header nav ul.nav-items,
header nav div.logo {
  display: inline-block;
  width: auto;
}

header nav div.logo {
  padding: 0px 20px;
  color: #163a8b;
  font-family: "Caveat", cursive;
  font-size: 155%;
}

header nav ul.nav-items {
  list-style-type: none;
  float: right;
}

header nav ul.nav-items li {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  border-right: 2px solid #ddd;
}

header nav ul.nav-items li:last-child {
  border-right: 0;
}

/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/
section {
  width: 70%;
  margin: 30px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid green;
  text-align: left;
  font-family: "Roboto", serif;
}

section.projects {
  display: block;
}

section.projects div.project-container {
  margin-bottom: 5%;
  margin-top: 2%;
  border-bottom: 1px solid #ccc;
}

section.projects div.project-container:last-child {
  border-bottom: 0;
}

section.projects div.project-container h4 {
  margin-bottom: 15px;
  font-size: 120%;
}

section.projects div.project-container div.project-column {
  display: inline-block;
  width: 48%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1rem;
  vertical-align: top;
  padding-left: 20px;
}

section.projects div.project-container div.project-column img {
  width: 100%;
}

/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

footer {
  margin-top: 50px;
  margin-bottom: 15px;
  border: 0px;
}

footer a {
  display: block;
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #163a8b;
}

footer a:hover {
  color: #081e6f;
}


/* -------------------------------------
place all the desktop styles above this line

Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)

place all the mobile tables styles below this line
*/
